Flask~=3.0.3
Flask-SQLAlchemy
Flask-Migrate
opencv-python
face-recognition
fuzzywuzzy~=0.18.0
numpy~=1.22.0
requests~=2.32.3
psutil
gunicorn
prometheus_client
Pillow~=10.4.0
librosa~=0.10.0
torch~=2.4.1+cu124
tts~=0.22.0
coqpit~=0.0.17
trainer~=0.0.36
scipy~=1.14.1
soundfile~=0.12.1
tqdm~=4.66.5
bangla~=0.0.2
bnnumerizer~=0.0.2
bnunicodenormalizer~=0.1.7
jamo~=0.4.1
inflect~=7.4.0
num2words~=0.5.13
anyascii~=0.3.2
gruut~=2.2.3
packaging~=23.2
six~=1.16.0
jieba~=0.42.1
pypinyin~=0.53.0
matplotlib~=3.8.4
fsspec~=2024.9.0
einops~=0.8.0
torchaudio~=2.4.1
transformers~=4.45.1
encodec~=0.1.1
spacy~=3.7.6
tokenizers~=0.20.0
mutagen~=1.47.0
pandas~=1.5.3
pysbd~=0.3.4
yaml~=0.2.5
pyyaml~=6.0.1
setuptools~=72.1.0
cython~=3.0.11
dlib~=19.24.4